<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sapling: Adventure Awaits!</title>
</head>
<body>
  <div class="header">
    <div><p>Sapling</p></div>
    <div>
      <a href="https://www.github.com/vagabondazulien/sapling">GitHub</a>
    </div>
  </div>
  <div class="main">
    <%= @tree.trunk %>
  <div class="footer">
    <div><p>Made with <3 by Nibz</p></div>
  </div>
</body>
